img.country{
    width: auto;
    padding: 15px;float: right;
}
ion-toolbar{
    --border-color:#fff;
    
}
ion-header{
    --padding:25px
}
.ios .login-header{
    padding-top: 50px;
}
.header-md::after{
    background: none;
}
.login-header,.login-body,.logo{
    width: 100%; 
    display: inline-block;
}
.login-body{
    padding: 20px;
    padding-top: 90px;
}
.login-body,.logo,.logo a{
    width: 100%; 
    display: inline-block;
    text-align: center;
}
.login-body h2{
    font-size: 28px;
    color: #08151E;
    text-transform: uppercase;
    font-family: "Russo One", sans-serif;
    margin-top: 30px;
}
.login-body p{
    font-size: 15px;
    color:#697378;
    line-height: 21px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}

ion-select.custom-options,ion-input.number-fld{
       background-color: #fff;
       border-radius: 11px;
    //    padding: 10px !important;
       box-shadow: 0px 2px 12px 0px #cbcbcb;
       height: 49px;
}
ion-input.number-fld{ 
    text-align: left;
    --placeholder-color: #08151E;
    --placeholder-opacity: 1;
    --padding-start: 24px;
    --padding-end: 24px;
    --padding-top: 15px;
    --padding-bottom: 15px;
}

ion-select::part(icon) {
    display: none !important;
}


.login-body .signup-withtext{
    color: #08151E;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
}
.acc_link_txt a{
    color: #03989E;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
    margin-left: 5px;
}
ion-modal ion-content{
    --background: #fff ;
    --border-radius:100px;
    --overflow:hidden
}

ion-modal{
    background-color: rgba(8, 21, 30, 0.7);
}

.my-custom-class{
    &::part(content){
        width:100%;
        background: transparent;
        border-radius: 50px;
        box-shadow: 0px -11px 30px -10px #080808;
    }
    
}
.select-contenttxt{
    color: #08151E;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.language-modal-content ion-item{
    background-color: #fff;
    border-radius: 11px;
    /* padding: 10px; */
    box-shadow: 0px 3px 10px 1px #cbcbcb;
    width: 90%;
    margin: 0px auto;
    margin-bottom: 20px;
}
.language-modal-content ion-item{
    &::part(native){
        background-color: #fff;
    }
}
.language-modal-content ion-item.item-radio-checked{
    &::part(native){
        background-color: #03989E;
    }
}

.language-modal-content ion-item.active{
    &::part(native){
        background-color: #03989E;
    }
}


.language-modal-content .select-language-form a{
    display: contents;
    color: #898a92;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
.language-modal-content ion-item.active a{
    color: #fff;
}
.language-modal-content .select-language-form a img{
    margin-right: 15px;
}

ion-radio{
    &::part(container){
        display: none;
    }
}
ion-radio.radio-checked{
    &::part(container){
        display: block;
    }
}

ion-radio{
    &::part(container){
        border: none;
    }
}
.language-modal-content ion-item.active a:after{
        background-image:url(/../assets/images/tick.png) ;
        width: 16px;
        height: 12px;
        background-color: transparent;
        top: 18px;
        position: absolute;
        content: "";
        right: 15px;
}
.select-language-form ion-list{
    background: #fff;
}

.support_col {
    a {
        font-weight: 700;
        font-size: 20px;
        text-decoration: none;
    }
    .svg_wrap {
        background-color: #03989E;
        border-radius: 50%;
        width: 29px;
        height: 29px;
        display: inline-block;
        text-align: center;
        line-height: 32px;
    }
    p {
        margin-top: 7px;
        display: block !important;
    }
}
.error_msg {
    margin-top: 10px;
    text-align: left;
    color: red;
    font-size: 12px;

    ion-icon {
        position: relative;
        top: 2px;
        margin-right: 5px;
    }
}

