<!-- <ion-header >
  <ion-toolbar color="white" >   
  <ion-buttons slot="end">
    <a><img class="country" src="assets/images/country-img.png"/></a>
  </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="login-header">
     <a (click)="openModal()"><img class="country" src="assets/images/country-img.png"/></a>
  </div>
  <div class="login-body">
      <div class="logo">
        <a><img src="assets/images/logo.png"/></a>
      </div>
      <h2>Login</h2>
      <p>Already a Merkaaz cutomer? Login to place your order & access our services.</p>
      <form [formGroup]="otpForm" (ngSubmit)="submitForm()" #myForm="ngForm">
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <ion-select placeholder="+244" class="custom-options" value="+244">
                <ion-select-option >+91</ion-select-option>
                <ion-select-option ><img src="assets/images/num-flag.png" alt="+244">+244</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col size="8">
              <ion-input type="number" inputmode="numeric" formControlName="phone" placeholder="Phone No*" class="number-fld"></ion-input>
              <div *ngIf="
                fControl.phone.invalid &&
                (fControl.phone.dirty ||
                  fControl.phone.touched ||
                  myForm.submitted)
              ">
                <span class="icon-info"></span>
                <p>Please enter phone number</p>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button shape='round' type="submit" >Send OTP</ion-button>
              <p class="signup-withtext">Don’t have a Merkaaz account? <a routerLink="/signup">Sign Up</a> </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="support_col">
              <a href="tel:+244 900 000 000">
                <span class="svg_wrap"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.21778 6.92444C4.49778 9.44 6.56 11.4933 9.07556 12.7822L11.0311 10.8267C11.2711 10.5867 11.6267 10.5067 11.9378 10.6133C12.9333 10.9422 14.0089 11.12 15.1111 11.12C15.6 11.12 16 11.52 16 12.0089V15.1111C16 15.6 15.6 16 15.1111 16C6.76444 16 0 9.23556 0 0.888889C0 0.4 0.4 0 0.888889 0H4C4.48889 0 4.88889 0.4 4.88889 0.888889C4.88889 2 5.06667 3.06667 5.39556 4.06222C5.49333 4.37333 5.42222 4.72 5.17333 4.96889L3.21778 6.92444Z" fill="white"/>
                </svg></span> +244 900 000 000</a>
              <p class="signup-withtext">Customer Support Team</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>


      <!-- <form [formGroup]="loginForm" (ngSubmit)="loginOnSubmit()" #myForm="ngForm">
        <div class="auth-form-group">
          <div *ngIf="
              formcontrol.username.errors?.required &&
              (formcontrol.username.touched ||
                formcontrol.username.dirty ||
                myForm.submitted)
            " class="auth-error-msg">
            <span class="icon-info"></span>
            <p>Please Enter E-mail</p>
          </div>
          <div *ngIf="
              formcontrol.username.errors?.pattern &&
              (formcontrol.username.touched ||
                formcontrol.username.dirty ||
                myForm.submitted)
            " class="auth-error-msg">
            <span class="icon-info"></span>
            <p>Please Enter a Valid E-mail</p>
          </div>
          <div class="auth-formcontrol-wrapper">
            <ion-input type="email" class="auth-formcontrol" placeholder="Email" 
              formControlName="username"></ion-input>
            <span class="icon-mail"></span>
          </div>
        </div>
        <div class="auth-form-group">
          <div *ngIf="
              formcontrol.password.invalid &&
              (formcontrol.password.touched ||
                formcontrol.password.dirty ||
                myForm.submitted)
            " class="auth-error-msg">
            <span class="icon-info"></span>
            <p>Please Enter a Valid Password</p>
          </div>
          <div class="auth-formcontrol-wrapper">
            <ion-input class="auth-formcontrol" [type]="password" placeholder="Password" 
              formControlName="password"></ion-input>
          </div>
        </div>
        <div class="auth-form-submit">
          <button class="btn btn-dark">Login</button>
        </div>
      </form> -->


  </div>
</ion-content>
<ion-modal
  [isOpen]="isLanguageModal"
  [breakpoints]="[0.1, 0.5, 1]"
  [initialBreakpoint]="0.4"
  class="my-custom-class"
  handle="false"
>
  <ng-template>
    <ion-content class="language-modal-content">
      <h2 class="select-contenttxt">Select Language</h2>
      <div class="select-language-form">
        <ion-list *ngFor="let language of languages">
          <ion-item (click)="selectedLanguange(language.id)" [class.active]="selectedItemId == language.id">
            <a href="javascript:void(0);">
              <img [src]="language.flag"/> {{language.language}}
            </a>
          </ion-item>
        </ion-list>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>