ion-thumbnail{
    width: 100px;
    height: 100px;
}
ion-item ion-label{
    text-overflow: unset;
    white-space: normal;
}

ion-select.custom-options{
    background-color: #fff;
    border: #ccc 1px solid;
    height: 24px;
    padding: 2px 6px;
    color: #08151E;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    position: relative;
}
.view-more{
    background-color: #03989E;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    float: right;
    padding: 5px 25px;
}

.category-page ion-item{
    &::part(native){
        align-items: normal;
    }   
}
.view-more.disabled{
    background-color: #EEEEEE;
    color: #fff;
    pointer-events: none;
  cursor: default;
}
.out-of-stock{
    background-color: #FF0000;
    font-weight: 600;
    font-size: 12px;
    padding: 4px 7px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    display: inline-block;
    margin-top: 4px;
    border-radius: 2px;
}