<app-header title="Staples" header_right="false"></app-header>

<ion-content class="category-page">
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/images/pic-1.png">
    </ion-thumbnail>
    <ion-label>
      <h3>Fortune</h3>
       <p>Fortune Kachi Ghani Mustard Oil Pouch</p>
       <ion-select placeholder="500g" class="custom-options" value="500g">
        <ion-select-option >500g</ion-select-option>
        <ion-select-option >1 Kg</ion-select-option>
      </ion-select>
      <h2>291.00 AOA</h2>
      <a class="view-more">ADD</a>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/images/pic-1.png">
    </ion-thumbnail>
    <ion-label>
      <h3>Fortune</h3>
       <p>Fortune Kachi Ghani Mustard Oil Pouch</p>
       <ion-select placeholder="500g" class="custom-options" value="500g">
        <ion-select-option >500g</ion-select-option>
        <ion-select-option >1 Kg</ion-select-option>
      </ion-select>
      <h2>291.00 AOA</h2>
      <a class="view-more">ADD</a>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/images/pic-1.png">
    </ion-thumbnail>
    <ion-label>
      <h3>Fortune</h3>
       <p>Fortune Kachi Ghani Mustard Oil Pouch</p>
       <ion-select placeholder="500g" class="custom-options" value="500g">
        <ion-select-option >500g</ion-select-option>
        <ion-select-option >1 Kg</ion-select-option>
      </ion-select>
      <h2>291.00 AOA</h2>
      <a class="view-more">ADD</a>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/images/pic-1.png">
    </ion-thumbnail>
    <ion-label>
      <h3>Fortune</h3>
       <p>Fortune Kachi Ghani Mustard Oil Pouch</p>
       <ion-select placeholder="500g" class="custom-options" value="500g">
        <ion-select-option >500g</ion-select-option>
        <ion-select-option >1 Kg</ion-select-option>
      </ion-select>
      <h2>291.00 AOA</h2>
      <a class="view-more">ADD</a>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/images/pic-1.png">
    </ion-thumbnail>
    <ion-label>
      <h3>Fortune</h3>
       <p>Fortune Kachi Ghani Mustard Oil Pouch</p>
       <ion-select placeholder="500g" class="custom-options" value="500g">
        <ion-select-option >500g</ion-select-option>
        <ion-select-option >1 Kg</ion-select-option>
      </ion-select>
      <h2>291.00 AOA</h2>
      <a class="view-more">ADD</a>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/images/pic-1.png">
    </ion-thumbnail>
    <ion-label>
      <h3>Fortune</h3>
       <p>Fortune Kachi Ghani Mustard Oil Pouch</p>
       <ion-select placeholder="500g" class="custom-options" value="500g">
        <ion-select-option >500g</ion-select-option>
        <ion-select-option >1 Kg</ion-select-option>
      </ion-select>
      <h2>291.00 AOA</h2>
      <a class="view-more">ADD</a>
    </ion-label>
  </ion-item>
</ion-content>
