<app-header title="Staples" header_right="false"></app-header>

<ion-content class="category-page">
  <div class="cat_inr"  lines="null">
    <ion-card class="pro_item">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/images/pic-1.png">
        </ion-thumbnail>
        <ion-label>
          <h3>Fortune</h3>
          <p>Fortune Kachi Ghani Mustard Oil Pouch</p>
          <ion-select placeholder="500g" class="custom-options" value="500g">
            <ion-select-option >500g</ion-select-option>
            <ion-select-option >1 Kg</ion-select-option>
          </ion-select>
          <h2>291.00 AOA</h2>
          <a class="view-more">ADD</a>
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card class="pro_item">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/images/pic-1.png">
        </ion-thumbnail>
        <ion-label>
          <h3>Fortune</h3>
          <p>Fortune Kachi Ghani Mustard Oil Pouch</p>
          <ion-select placeholder="500g" class="custom-options" value="500g">
            <ion-select-option >500g</ion-select-option>
            <ion-select-option >1 Kg</ion-select-option>
          </ion-select>
          <h2>291.00 AOA</h2>
          <a class="view-more">ADD</a>
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card class="pro_item">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/images/pic-1.png">
        </ion-thumbnail>
        <ion-label>
          <h3>Fortune</h3>
          <p>Fortune Kachi Ghani Mustard Oil Pouch</p>
          <ion-select placeholder="500g" class="custom-options" value="500g">
            <ion-select-option >500g</ion-select-option>
            <ion-select-option >1 Kg</ion-select-option>
          </ion-select>
          <h2>291.00 AOA</h2>
          <a class="view-more">ADD</a>
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card class="pro_item">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/images/pic-1.png">
        </ion-thumbnail>
        <ion-label>
          <h3>Fortune</h3>
          <p>Fortune Kachi Ghani Mustard Oil Pouch</p>
          <ion-select placeholder="500g" class="custom-options" value="500g">
            <ion-select-option >500g</ion-select-option>
            <ion-select-option >1 Kg</ion-select-option>
          </ion-select>
          <h2>291.00 AOA</h2>
          <a class="view-more">ADD</a>
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card class="pro_item">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/images/pic-1.png">
        </ion-thumbnail>
        <ion-label>
          <h3>Fortune</h3>
          <p>Fortune Kachi Ghani Mustard Oil Pouch</p>
          <ion-select placeholder="500g" class="custom-options" value="500g">
            <ion-select-option >500g</ion-select-option>
            <ion-select-option >1 Kg</ion-select-option>
          </ion-select>
          <h2><del>291.00 AOA</del></h2>
          <span class="out-of-stock">Out of Stock</span>
          <a class="view-more disabled">ADD</a>
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card class="pro_item">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/images/pic-1.png">
        </ion-thumbnail>
        <ion-label>
          <h3>Fortune</h3>
          <p>Fortune Kachi Ghani Mustard Oil Pouch</p>
          <ion-select placeholder="500g" class="custom-options" value="500g">
            <ion-select-option >500g</ion-select-option>
            <ion-select-option >1 Kg</ion-select-option>
          </ion-select>
          <h2>291.00 AOA</h2>
          <a class="view-more">ADD</a>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
