<app-header title="{{catTitle}}" header_right="false"></app-header>

<ion-content class="category-page">
  <div class="cat_inr">
    <ion-card class="pro_item" *ngFor="let item of productListArr">
      <ion-item class="ion-align-items-center" lines="none">
        <ion-thumbnail slot="start">
          <img src="{{item.product_image}}">
        </ion-thumbnail>
        <div class="product-content">
          <div class="pro_off" *ngIf="item.default_discount_percentage !== '0%' && item.default_discount_percentage !== ''">
            <em>{{item.default_discount_percentage}}</em>
            off
          </div>
          <!-- <h3>Fortune</h3> -->
          <!-- <span>Wheatflour</span> -->
          <span>{{item.subcategory_name}}</span>
          <strong class="brand_name">{{item.brand_name}}</strong>
          <h3>{{item.product_name}}</h3>
          <!-- <p>Fortune Kachi Ghani Mustard Oil Pouch</p> -->
          <ion-select (ionChange)="handleChangeFeatured($event,item)" placeholder="{{item.default_quantity + item.default_unit}}" class="custom-options" >
            <ion-select-option  *ngFor="let dropVal of item.variation" [value]="dropVal">{{dropVal.quantity + dropVal.unit}} </ion-select-option>              
          </ion-select>
          <div class="price">
            <h4>{{item.default_sell_price}}</h4>
            <del>{{item.default_discount_price}}</del>
          </div>
          <a class="view-more">ADD</a>
        </div>
      </ion-item>
    </ion-card>
    <!-- <ion-card class="pro_item">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/images/pic-1.png">
        </ion-thumbnail>
        <ion-label>
          <h3>Fortune</h3>
          <p>Fortune Kachi Ghani Mustard Oil Pouch</p>
          <ion-select placeholder="500g" class="custom-options" value="500g">
            <ion-select-option >500g</ion-select-option>
            <ion-select-option >1 Kg</ion-select-option>
          </ion-select>
          <h2>291.00 AOA</h2>
          <a class="view-more">ADD</a>
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card class="pro_item">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/images/pic-1.png">
        </ion-thumbnail>
        <ion-label>
          <h3>Fortune</h3>
          <p>Fortune Kachi Ghani Mustard Oil Pouch</p>
          <ion-select placeholder="500g" class="custom-options" value="500g">
            <ion-select-option >500g</ion-select-option>
            <ion-select-option >1 Kg</ion-select-option>
          </ion-select>
          <h2>291.00 AOA</h2>
          <a class="view-more">ADD</a>
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card class="pro_item">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/images/pic-1.png">
        </ion-thumbnail>
        <ion-label>
          <h3>Fortune</h3>
          <p>Fortune Kachi Ghani Mustard Oil Pouch</p>
          <ion-select placeholder="500g" class="custom-options" value="500g">
            <ion-select-option >500g</ion-select-option>
            <ion-select-option >1 Kg</ion-select-option>
          </ion-select>
          <h2>291.00 AOA</h2>
          <a class="view-more">ADD</a>
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card class="pro_item">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/images/pic-1.png">
        </ion-thumbnail>
        <ion-label>
          <h3>Fortune</h3>
          <p>Fortune Kachi Ghani Mustard Oil Pouch</p>
          <ion-select placeholder="500g" class="custom-options" value="500g">
            <ion-select-option >500g</ion-select-option>
            <ion-select-option >1 Kg</ion-select-option>
          </ion-select>
          <h2><del>291.00 AOA</del></h2>
          <span class="out-of-stock">Out of Stock</span>
          <a class="view-more disabled">ADD</a>
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card class="pro_item">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/images/pic-1.png">
        </ion-thumbnail>
        <ion-label>
          <h3>Fortune</h3>
          <p>Fortune Kachi Ghani Mustard Oil Pouch</p>
          <ion-select placeholder="500g" class="custom-options" value="500g">
            <ion-select-option >500g</ion-select-option>
            <ion-select-option >1 Kg</ion-select-option>
          </ion-select>
          <h2>291.00 AOA</h2>
          <a class="view-more">ADD</a>
        </ion-label>
      </ion-item>
    </ion-card> -->
  </div>
</ion-content>
