<app-header title="Home"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="banner">
        <ion-img src="https://i.picsum.photos/id/787/536/354.jpg?hmac=APK6IGer-u0j2OFGpYg7FUGww7EdD4p8KpcpnQFqh2k"></ion-img>
        <h1>Our Listing</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <h2 class="pro-title">Our Products</h2>
      <ion-col>
        <ion-slides [options]="slideOptsOne" >
          <ion-slide>
            <ion-card>
              <ion-card-content>
                <ion-img src="https://i.picsum.photos/id/787/536/354.jpg?hmac=APK6IGer-u0j2OFGpYg7FUGww7EdD4p8KpcpnQFqh2k" width="108" height="71"></ion-img>
                <h2>Product 1</h2>
                <h4>Lorem ipsum is simply dummy</h4>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-content>
                <ion-img src="https://i.picsum.photos/id/787/536/354.jpg?hmac=APK6IGer-u0j2OFGpYg7FUGww7EdD4p8KpcpnQFqh2k"></ion-img>
                <h2>Product 2</h2>
                <h4>Lorem ipsum is simply dummy</h4>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-content>
                <ion-img src="https://i.picsum.photos/id/787/536/354.jpg?hmac=APK6IGer-u0j2OFGpYg7FUGww7EdD4p8KpcpnQFqh2k"></ion-img>
                <h2>Product 3</h2>
                <h4>Lorem ipsum is simply dummy</h4>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <ion-card-content>
                <ion-img src="https://i.picsum.photos/id/787/536/354.jpg?hmac=APK6IGer-u0j2OFGpYg7FUGww7EdD4p8KpcpnQFqh2k"></ion-img>
                <h2>Product 4</h2>
                <h4>Lorem ipsum is simply dummy</h4>
              </ion-card-content>
            </ion-card>
          </ion-slide>
         </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <span class="item-total">30 Items</span>  
      </ion-col>
      <ion-col >
        <div class="ion-text-end">
          <a href="" class="view-icons">
            <ion-icon name="grid-outline" color="secondary"></ion-icon>
          </a>
          <a href="" class="view-icons">
            <ion-icon name="list-outline" color="dark" ></ion-icon>
          </a>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>        
         <div class="product-block">   
          <img src="https://i.picsum.photos/id/970/536/354.jpg?hmac=-I_kAQ2oSC5ehwhlMHJi7XzxtvIUaLVK_-LHgu_4FHc" alt="">           
              <ion-label position="floating" color="primary">Text 1</ion-label>
         </div>         
      </ion-col>
      <ion-col>
        <div class="product-block">
              <img src="https://i.picsum.photos/id/970/536/354.jpg?hmac=-I_kAQ2oSC5ehwhlMHJi7XzxtvIUaLVK_-LHgu_4FHc" alt="">
              <ion-label position="floating" color="primary">Text 1</ion-label>
         </div>
         
      </ion-col>      
    </ion-row>
    <ion-row>
      <ion-col>        
         <div class="product-block">   
          <img src="https://i.picsum.photos/id/970/536/354.jpg?hmac=-I_kAQ2oSC5ehwhlMHJi7XzxtvIUaLVK_-LHgu_4FHc" alt="">           
              <ion-label position="floating" color="primary">Text 1</ion-label>
         </div>         
      </ion-col>
      <ion-col>
        <div class="product-block">
              <img src="https://i.picsum.photos/id/970/536/354.jpg?hmac=-I_kAQ2oSC5ehwhlMHJi7XzxtvIUaLVK_-LHgu_4FHc" alt="">
              <ion-label position="floating" color="primary">Text 1</ion-label>
         </div>
         
      </ion-col>      
    </ion-row>
    <ion-row>
      <ion-col>        
         <div class="product-block">   
          <img src="https://i.picsum.photos/id/970/536/354.jpg?hmac=-I_kAQ2oSC5ehwhlMHJi7XzxtvIUaLVK_-LHgu_4FHc" alt="">           
              <ion-label position="floating" color="primary">Text 1</ion-label>
         </div>         
      </ion-col>
      <ion-col>
        <div class="product-block">
              <img src="https://i.picsum.photos/id/970/536/354.jpg?hmac=-I_kAQ2oSC5ehwhlMHJi7XzxtvIUaLVK_-LHgu_4FHc" alt="">
              <ion-label position="floating" color="primary">Text 1</ion-label>
         </div>
         
      </ion-col>      
    </ion-row>
  </ion-grid>

  
</ion-content>
