<ion-header>
  <div class="header-top">
    <div class="user">
      <img src="assets/images/user-2.png" alt="">
      <span class="user-tick"><ion-icon name="checkmark-outline"></ion-icon></span>
    </div>
    <div class="user-name">
      Hello, user
      <span><ion-icon name="call"></ion-icon> +244 78954 32100 <a class="edit">Edit</a> </span>
    </div>
    <a class="notification">
      <ion-icon name="notifications"></ion-icon>
      <span class="circle"></span>
    </a>
    <div class="location">
      <div class="location-inner">
        <h4><ion-icon name="location"></ion-icon> Your Current Location <a class="edit">Edit</a></h4>
        <p>4th Floor, 6/31, Street No. 0362, DH Block(Newtown), Action Area 1D, Newtown, Kolkata, West Bengal 700160</p>
      </div>
    </div>
  </div>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      <a>Home</a>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <a>Manage Profit Loss</a>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <a>Shop by Category</a>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <a>Featured Products</a>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <a>Best Sellers</a>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <a>Terms and Conditions</a>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <a>Privacy Policy</a>
    </ion-label>
  </ion-item>
</ion-content>
