<!-- <ion-header>
  <ion-toolbar>
    <ion-title>getStarted</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-img src="assets/images/get-started-img.png"></ion-img>
  <div class="get-started-shape">
    <h1>A B2B Commerce Solution for retail shops</h1>
    <p>An integrated commerce solution that allows small retail canteens with low purchasing power to obtain bulk discounted prices</p>
    <a routerLink="/login" class="get-started-btn">Login</a>
    <a routerLink="/signup" class="get-started-btn btn_white">Signup</a>
  </div>
</ion-content>
