/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



ion-content{
    &::part(background){
        background-color: #fff;
    }   
}
ion-select{
    color: #08151E;
}
ion-input{
    color: #08151E !important;
}
ion-button{
    &::part(native){
        background-color: #03989E;
        border-radius: 11px;
    }   
}

ion-searchbar ion-icon {
    right: 16px !important;
    left: auto !important;
    color: #fff !important;
}
ion-searchbar .searchbar-input{
    --padding-left: 0;
}
.searchbar-input.searchbar-input{
    padding-left: 15px;
    background-color: #0AAAB0;
    border:#0AA1A8 1px solid;
    border-radius: 8px;
    box-shadow: none;
    color: #fff;
}
.searchbar-input.sc-ion-searchbar-md::placeholder,.searchbar-input.sc-ion-searchbar-ios::placeholder{
    color: #fff;
    opacity: 1;
}
.searchbar-input.sc-ion-searchbar-ios::placeholder{
    color: #fff;
    opacity: 1;
}
.searchbar-has-value.searchbar-should-show-clear.sc-ion-searchbar-md-h .searchbar-clear-button.sc-ion-searchbar-md{ display: none;}

.searchbar-has-value.searchbar-should-show-clear.sc-ion-searchbar-ios-h .searchbar-clear-button.sc-ion-searchbar-ios{ display: none;}
.login-body .support_col p.signup-withtext{
    color: #6b7378 !important;
}

.login-body ion-button{

    border-radius: 11px;
    width: 100%;
    height: 49px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Russo One", sans-serif;
    margin-top: 38px;
    overflow: hidden;
    letter-spacing: 0.05em;
    box-shadow: 0px 2px 12px 0px #03989e;
}
.login-body  ion-select.custom-options, ion-input.number-fld{
    box-shadow: 0px 4px 12px 0px #dbdbdb !important;
}
.support_col a{
    color: #03989E;
}
// ion-slide ion-card{
//     background-color:white;
// }
.login-body{
    position: relative;
}
.login-body:after{
    background: url(/assets/images/login-logo-bg.png);
    width: 365px;
    height: 145px;
    content: '';
    position: absolute;
    bottom: -100px;
    left: 30px;
}
.login-body-inner{
    position: relative;
    z-index: 1;
}
.acc_link_txt{
    margin-top: 8px;
}

.position-rel{
    position: relative;
}
.position-rel .error_msg{
    position: absolute;
    bottom: -16px;
}