<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="back-navigate">
      <ion-back-button text="" defaultHref="signup" icon="chevron-back-outline" color="dark"></ion-back-button>
      Set Shop location
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="set-location-content">
  <form [formGroup]="signupForm" (ngSubmit)="submitForm('Locate')" #myForm="ngForm">
    <ion-grid class="paddingform">
      <ion-row class="fld-row position-rel">
        <ion-col>
          <ion-input type="text" inputmode="text" formControlName="street_1" placeholder="Street 1*" class="number-fld"></ion-input>
          <div class="error_msg" *ngIf="
            formControl.street_1.invalid &&
            (formControl.street_1.dirty ||
              formControl.street_1.touched ||
              myForm.submitted)
          ">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>Please enter street 1</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="fld-row">
        <ion-col>
          <ion-input type="text" inputmode="text" formControlName="street_2" placeholder="Street 2" class="number-fld"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="fld-row">
        <ion-col>
          <ion-input type="text" disabled="true" inputmode="text" formControlName="City" placeholder="City*" class="number-fld"></ion-input>
          <div class="error_msg" *ngIf="
            formControl.City.invalid &&
            (formControl.City.dirty ||
              formControl.City.touched ||
              myForm.submitted)
          ">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>Please enter city</span>
          </div>
        </ion-col>
        <ion-col>
          <ion-input type="text" disabled="true" inputmode="text" formControlName="State" placeholder="State*" class="number-fld"></ion-input>
          <div class="error_msg" *ngIf="
            formControl.State.invalid &&
            (formControl.State.dirty ||
              formControl.State.touched ||
              myForm.submitted)
          ">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>Please enter state</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="fld-row">
        <ion-col>
          <ion-input type="number" inputmode="number" formControlName="Zip" placeholder="Zip" class="number-fld"></ion-input>
          <div class="error_msg" *ngIf="
            formControl.Zip.invalid &&
            (formControl.Zip.dirty ||
              formControl.Zip.touched ||
              myForm.submitted)
          ">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>Please enter zip</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="locate-btn">
          <ion-button color="primary" shape='round' (click)="submitForm('Locate')" type="submit">Locate</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding">
        <ion-col>
          <div class="bap-large map_cont">
            <!-- <ion-img class="map" src="assets/images/map-large.png"></ion-img>           -->
            <!-- <agm-map #search [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                      (dragEnd)="markerDragEnd($event)"></agm-marker>
            </agm-map> -->

            <agm-map #search *ngIf="showMap" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
              <agm-marker [latitude]="latitude" [longitude]="longitude" ></agm-marker>
            </agm-map>
          </div>
        </ion-col>
      </ion-row>
      <!-- <ion-row class="ion-padding">
        <ion-col class="location-data">
          <p><ion-icon name="location-outline"></ion-icon> C-1 4floor - Martin burn i spec 1 Street</p>
        </ion-col>
      </ion-row> -->
      <ion-row class="ion-padding-start ion-padding-end ion-margin-top ion-padding-top btn-grp">
        <ion-col class="map-btn">
          <ion-button color="primary" shape='round' type="submit" (click)="submitForm('Confirm')" class="disabled">Confirm Location</ion-button>
        </ion-col>
      </ion-row>
      
    </ion-grid>
  </form>
</ion-content>
