<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="back-navigate">
      <ion-back-button text="" defaultHref="signup" icon="chevron-back-outline" color="dark"></ion-back-button>
      Set Shop location
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="ion-padding">
    <ion-grid>
      <ion-row class="fld-row">
        <ion-col>
          <ion-input type="text" inputmode="text" placeholder="Street 1*" class="number-fld"></ion-input>
          <!-- <div class="error_msg" *ngIf="
            formControl.street_1.invalid &&
            (formControl.street_1.dirty ||
              formControl.street_1.touched ||
              myForm.submitted)
          ">
          <ion-icon name="information-circle-outline"></ion-icon>
          <span>Please enter street 1</span>
          </div> -->
        </ion-col>
      </ion-row>
      <ion-row class="fld-row">
        <ion-col>
          <ion-input type="text" inputmode="text" placeholder="Street 2" class="number-fld"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="fld-row">
        <ion-col>
          <ion-input type="text" inputmode="text" placeholder="City" class="number-fld"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input type="text" inputmode="text" placeholder="State" class="number-fld"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="fld-row">
        <ion-col>
          <ion-input type="number" inputmode="number" placeholder="Zip" class="number-fld"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="primary" shape='round' type="submit">Locate</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
<ion-grid class="ion-no-padding">
  <ion-row class="ion-no-padding">
    <ion-col>
      <div class="bap-large">
        <ion-img class="map" src="assets/images/map-large.png"></ion-img>          
      </div>
    </ion-col>
  </ion-row>
  <!-- <ion-row class="ion-padding">
    <ion-col class="location-data">
      <p><ion-icon name="location-outline"></ion-icon> C-1 4floor - Martin burn i spec 1 Street</p>
    </ion-col>
  </ion-row> -->
  <ion-row class="ion-padding-start ion-padding-end ion-margin-top ion-padding-top">
    <ion-col class="map-btn">
      <ion-button color="medium" shape='round' routerLink="/signup" disabled>Confirm Location</ion-button>
    </ion-col>
  </ion-row>
  
</ion-grid>
</ion-content>
