<app-header title="Shop By Category" header_right="false"></app-header>

<ion-content>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/images/fruits-vegetables.png">
    </ion-thumbnail>
    <ion-label>
      <h2>Fruits & Vegetables</h2>
    </ion-label>
    <ion-button fill="outline" slot="end">
      <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/images/fruits-vegetables.png">
    </ion-thumbnail>
    <ion-label>
      <h2>Fruits & Vegetables</h2>
    </ion-label>
    <ion-button fill="outline" slot="end">
      <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/images/fruits-vegetables.png">
    </ion-thumbnail>
    <ion-label>
      <h2>Fruits & Vegetables</h2>
    </ion-label>
    <ion-button fill="outline" slot="end">
      <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </ion-item>
  
</ion-content>
