<app-header title="Shop By Category" header_right="false"></app-header>

<ion-content>
  <ion-list class="cat_list" lines="full">
    <ion-item *ngFor="let item of catArr" >
      <ion-thumbnail slot="start">
        <!-- <img src="assets/images/fruits-vegetables.png"> -->
        <ion-img width="26" height="26" src="{{item.category_image}}" style="width: 30px; height: 30px; border-radius: 50%;"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <!-- <h2>Fruits & Vegetables</h2> -->
        <h2>{{item.category_name}}</h2>
      </ion-label>
      <ion-button fill="outline" slot="end" (click)="categoryNav(item.category_id)">
        <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
